body {
    background-image: url('images/wall5.png');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#container {
    position: absolute;
    width: 8vw;
    top: 6vh;
    left: 45vw;
}

/* #slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('images/contrasticon.png');
    cursor: pointer;
} */

#slider {
    width: 10vw
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#collision-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 100%;
}

.sortable-handler {
    touch-action: none;
  }
