body {
    background-image: url('images/wall5.png');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#container {
    position: absolute;
    width: 8vw;
    top: 6vh;
    left: 45vw;
}

/* #slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('images/contrasticon.png');
    cursor: pointer;
} */

#slider {
    width: 10vw
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#collision-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0%;
}

#button {
    position: absolute;
    top: 1vw;
    left: 93vw;
    width: 3vw;
    height: 1.5vw;
}

#btn {
    background-color: transparent;
    position: relative;
    text-shadow: #000000 -0.2vw -0.2vh 0;
    color: green;
    font-family: 'Impact';
    font-size: 2vw;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    
}

.sortable-handler {
    touch-action: none;
}
