body {
    background-image: url('images/wall5.png');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#container {
    position: absolute;
    width: 8vw;
    top: 6vh;
    left: 42.5vw;
}

#slider {
    width: 15vw;
    
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#collision-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0%;
}

#button {
    position: absolute;
    top: 1vw;
    left: 93vw;
    width: 3vw;
    height: 1.5vw;
}

#btn {
    background-color: transparent;
    position: relative;
    text-shadow: #000000 -0.2vw -0.2vh 0;
    color: green;
    font-family: 'Impact';
    font-size: 2vw;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

#speed-text {
    position: absolute;
    top: -2.5vh;
    left: 46vw;
    text-shadow: #000000 -0.2vw -0.2vh 0;
    color: green;
    font-family: 'Impact';
    font-size: 2vw;
}

#score-text {
    position: absolute;
    top: -2vh;
    left: 2vw;
    text-shadow: #000000 -0.2vw -0.2vh 0;
    color: green;
    font-family: 'Impact';
    font-size: 2vw;
}

#game-over {
    position: absolute;
    top: 45vh;
    left: 46vw;
    text-shadow: #000000 -0.2vw -0.2vh 0;
    color: green;
    font-family: 'Impact';
    font-size: 2vw;
}

#game-over-score {
    position: absolute;
    top: 49vh;
    left: 43.5vw;
    text-shadow: #000000 -0.2vw -0.2vh 0;
    color: green;
    font-family: 'Impact';
    font-size: 2vw;
}

.sortable-handler {
    touch-action: none;
}
